# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Logs
logs/
*.log

# OS specific
.DS_Store

# Project specific
.milvus/
.milvus_docker/
deploy/dev/milvus/volumes/
deploy/dev/mysql/data/
models/
.artifacts/
.langgraph_api/
