[MASTER]
init-hook=import os,sys; sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), "src")))

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    line-too-long,
    too-few-public-methods,
    broad-exception-caught,
    chained-comparison,
    import-error,
    import-outside-toplevel,
    invalid-name,
    no-member,
    protected-access,
    unused-variable,
    duplicate-code,
    consider-using-with,
    wrong-import-position,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    consider-iterating-dictionary,
    trailing-newlines,
    trailing-whitespace,
    too-many-arguments

[FORMAT]
max-line-length=120
